*{
    padding: 0;
    margin: 0;
}
.cus-calender-wrapper{
    position: relative;
    width: 320px;
}
.cus-calender-panel{
    border: 1px solid #eeeeee;
    box-shadow: 0 2px 10px 2px #eeeeee;
    position: absolute;
    z-index: 999;
    padding: 10px 0;
}
.cus-origin-date{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    width: 320px;
}
.cus-complate-date{
    width: 220px;
    font-size: 12px;
}
.cus-origin-date input,.cus-complate-date input{
    width: 44%;
    margin: 0;
    border: none;
    outline: none;
    text-align: center;
}
.cus-panel-body{
    width: 210px;
    background: white;
    float: left;
}
.cus-clearFix ::after {
    display: block;
    content: "";
    clear: both;
}
.cus-panel-container-body{
    height: 210px;
    overflow: scroll;
}
.cus-quicky-key{
    float: left;
    margin-right: 5px;
    padding: 5px 0;
}
.cus-quicky-key li{
    padding:0 10px;
    text-align: left;
    margin: 10px 0;
    list-style: none;
    font-size: 14px;
    color: #666666;
    cursor: pointer;
}
.cus-panel-container hr{
    background-color:#eee;
    height:1px;
    border:none;
    margin: 15px 0;
}
.cus-panel-container::-webkit-scrollbar {
    display: none;
}
.cus-panel-container-header{
    width: 210px;
}
.cus-calender-title{
    width: 100%;
    margin-bottom: 10px;
}
.cus-calender-title button{
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    width: 7%;
    margin: 0 1%;
}
.cus-calender-title button.is-disable-true{
    color: #cccccc;
    cursor: not-allowed;
}
.cus-calender-title span{
    display: inline-block;
    width: 60%;
    text-align: center;
}
.cus-panel-body{
    padding: 10px 12px;
}
.cus-calender-header,.cus-calender-body{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #333;
    float: left;
    box-sizing: border-box;
}
.cus-calender-header{
    font-size: 16px;
    font-weight: bold;
}
.cus-calender-header,.cus-calender-body.normal{
    cursor: pointer;
}
.cus-calender-body i{
    font-style: normal;
}
.cus-panel-footer{
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
}
.cus-compare-panel label{
    width: 120px;
    float: left;
    font-size: 14px;
    color: #666666;
    margin-right: 10px;
    padding-left: 10px;
}
.cus-calender_active{
    background: rgba(70,160,252,0.1);
    color: white;
}
.cus-calender_including{
    background: rgba(70,160,252,0.1);
}
.cus-calender_compare_active{
    background: rgba(252,87,149,0.1);
    color: white;
}
.cus-calender_compare_including{
    background: rgba(252,87,149,0.1);
}
.cus-calender_compare_active i,.cus-calender_active i{
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 28px;
    margin-top: 2px;
    border-radius: 50%;
}
.cus-calender_active i{
    background: #46a0fc;
}
.cus-calender_compare_active i{
    background: #fc5795;
}
.cus-calender_compare_active.cus-start,.cus-calender_active.cus-start{
    border-radius:15px 0 0 15px;
}
.cus-calender_compare_active.cus-end,.cus-calender_active.cus-end{
    border-radius:0 15px 15px 0;
}
.cus-calender_compare_active.cus-start.cus-end,.cus-calender_active.cus-start.cus-end{
    border-radius:15px;
}
.cus-calender-body.normal.cus-not-click-true{
    cursor: not-allowed;
    color: #eeeeee !important;
}